<div class="container">

What Pokémon do you want to read about ?
<br>
<br>
<br>
<%= form_tag pokemons_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Write the name of a Pokémon"
  %>
<br>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

</div>
